# Analysieren und Bereinigen von Daten

Worauf prüfen wir?

* **Komplettheit** wir können entsprechende Einträge entfernen oder die Werte angemessen auffüllen
* **Einzigartigkeit** entfernen von Duplikaten
* **Aktualität** Zeiträume eingrenzen
* **Akuratheit** entfernen von korrupten Daten

In [2]:
import findspark
findspark.init()
findspark.find()

from pyspark.sql import SparkSession
from pyspark.sql.functions import * 
from pyspark.sql.types import *

import schemata

spark = (
    SparkSession
    .builder
    .config("spark.dynamicAllocation.enabled", "false")
    .config("spark.sql.adaptive.enabled", "false")
    .appName("analyse")
    .master("local[4]")
    .getOrCreate()
)
sc = spark.sparkContext

from IPython.display import *
display(HTML("<style>pre { white-space: pre !important; }</style>"))

spark

In [3]:
yellow_taxi_df = (
    spark
        .read
        .option("header", True)
        .schema(schemata.yellow_taxi_schema)
        .csv("YellowTaxis_202210.csv.gz")
)
yellow_taxi_df.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

Dateframes haben eine nützliche Methode, mit der wir uns einen guten Überblick über den Wertebereich von Spalten verschaffen können.

[Api-Doc](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.describe.html#pyspark.sql.DataFrame.describe)

In [5]:
yellow_taxi_analyzed_df = yellow_taxi_df.describe("passenger_count", "trip_distance")
yellow_taxi_analyzed_df.show()

+-------+------------------+-----------------+
|summary|   passenger_count|    trip_distance|
+-------+------------------+-----------------+
|  count|           3542392|          3675412|
|   mean|1.3846934500755421|6.206976298167039|
| stddev|0.9302303297406955|640.8236808320255|
|    min|               0.0|              0.0|
|    max|               9.0|        389678.46|
+-------+------------------+-----------------+

Wir haben hier schon ein paar Hinweise auf Datenfehler:
 
 * 0 Passagiere sind wohl ein Fehler
 * 9 Gäste sind verboten und damit auch ein Fehler

## Ausfiltern nicht akkurater Daten

In [14]:
print("Vor dem Filtern: " + str(yellow_taxi_df.count()))
yellow_taxi_df = (
    yellow_taxi_df
        .where("passenger_count > 0")
        .filter(col("trip_distance") > 0.0)
)
print("Nachdem Filtern: " + str(yellow_taxi_df.count()))

Vor dem Filtern: 3421416

Nachdem Filtern: 3421416

In Spark-UI checken (Predicate Pushdown, Dataframe SQL-Tab

## Null filtern

In [15]:
print("Vor dem Filtern: " + str(yellow_taxi_df.count()))

yellow_taxi_df = yellow_taxi_df.na.drop("all") # all=all columns are null, any=with null in one column

print("Nach dem Filtern: " + str(yellow_taxi_df.count()))

Vor dem Filtern: 3421416

Nach dem Filtern: 3421416

## Nullwerte mit anderen Werten auffüllen

In [16]:
default_value_map = {'payment_type': 5, 'RateCodeId': 1}

yellow_taxi_df = yellow_taxi_df.na.fill(default_value_map)

## Duplikate entfernen

In [17]:
print("Vor der Operation: " + str(yellow_taxi_df.count()))

# Du kannst auch eine Liste von Spalten angeben, die für die Dublikatserkennung genutzt werden
yellow_taxi_without_dup_df = yellow_taxi_df.drop_duplicates()

print("Nach der Operation: " + str(yellow_taxi_without_dup_df.count()))

Vor der Operation: 3421416

Nach der Operation: 3421415

## Beschränke Zeiträume

In [12]:
# wir haben auch Timestamp-Datentypen
yellow_taxi_df.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = false)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [18]:
print("Vor dem Einschränken: " + str(yellow_taxi_df.count()))

yellow_taxi_df = yellow_taxi_df.where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'")

print ("Nach dem Einschränken: " + str(yellow_taxi_df.count()))

Vor dem Einschränken: 3421416

Nach dem Einschränken: 3421416

## Alles zusammen machen

In [19]:
default_value_map = {'payment_type': 5, 'RateCodeId': 1}

yellow_taxi_df = spark.read.option("header", True).schema(schemata.yellow_taxi_schema).csv("YellowTaxis_202210.csv.gz")

print("Vor dem Filtern: " + str(yellow_taxi_df.count()))

yellow_taxi_df = (
    yellow_taxi_df
    .where("passenger_count > 0")
    .filter(col("trip_distance") > 0.0)
    .na.drop("all")
    .na.fill(default_value_map)
    .drop_duplicates()
    .where("tpep_pickup_datetime >= '2022-10-01' AND tpep_dropoff_datetime < '2022-11-01'")
)

print("Nach dem Filtern: + " + str(yellow_taxi_df.count()))

Vor dem Filtern: 3675412

Nach dem Filtern: + 3421415

# Transformieren

## Spalten limitieren

In [10]:
yellow_taxi_df.printSchema()

root
 |-- VendorId: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = false)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [20]:
yellow_taxi_df = (
    yellow_taxi_df.select(
        "VendorID",                                    # Spaltenname als Literal
        col("passenger_count").cast(IntegerType()),    # Spalte über die col funktion und mit Cast in einen Int überführen
        column("trip_distance").alias("TripDistance"), # Auswählen und umbennen
        yellow_taxi_df.tpep_pickup_datetime,           # als Attribute des Dataframe
        "tpep_dropoff_datetime",
        "PULocationID",
        "DOLocationID",
        "RatecodeID",
        "total_amount",
        "payment_type"
        )
)
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = false)

Das schränkt auch die Größe des Dataframes ein und macht die Verarbeitung so schneller.

## Spalten umbenennen

In [21]:
yellow_taxi_df = (
    yellow_taxi_df
        .withColumnRenamed("passenger_count", "PassengerCount")
        .withColumnRenamed("tpep_pickup_datetime", "PickupTime")
        .withColumnRenamed("tpep_dropoff_datetime", "DropTime")
        .withColumnRenamed("PULocationID", "PickupLocationId")
        .withColumnRenamed("DOLocationID", "DropLocationId")
        .withColumnRenamed("total_amount", "TotalAmount")
        .withColumnRenamed("payment_type", "PaymentType")
)
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)

## Abgeleitete Spalten erzeugen

In [35]:
yellow_taxi_df = (
    yellow_taxi_df
        .withColumn("TripYear", year(col("PickupTime")))   # withColum-Style
        .select(                                           # SQL-Style
            "*",
            expr("month(PickupTime) AS TripMonth"),        # SQL Funktionen aufrufen
            dayofmonth(col("PickupTime")).alias("TripDay") # Python Funktionen
        )
)
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)
 |-- NextTripTimeInMinutes: double (nullable = true)
 |-- TripType: string (nullable = false)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)

## Noch weitere Spalten berechnen lassen

In [24]:
# Trip Time in Minutes Option 1
yellow_taxi_df = (
    yellow_taxi_df
        .withColumn("TripTimeInMinutes",
                    round(
                        (unix_timestamp(col("DropTime"))-unix_timestamp(col("PickupTime")))/60 
                    )
                   )
)
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)

In [25]:
# wir können den code auch auslagern damit das wartbarer wird

trip_time_in_seconds_expr = unix_timestamp(col("DropTime")) - unix_timestamp(col("PickupTime"))

trip_time_in_minutes_expr = round(trip_time_in_seconds_expr / 60)


yellow_taxi_df = (
    yellow_taxi_df.withColumn("NextTripTimeInMinutes", trip_time_in_minutes_expr)
)
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- RatecodeID: double (nullable = false)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)
 |-- NextTripTimeInMinutes: double (nullable = true)

## Berechnete Werte zum Dritten

In [26]:
trip_type_column_expr = (
    when(
        col("RatecodeID") == 6, "SharedTrip"
    ).otherwise("SoloTrip")
)

yellow_taxi_df = yellow_taxi_df.withColumn("TripType", trip_type_column_expr).drop("RateCodeId")
yellow_taxi_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- PassengerCount: integer (nullable = true)
 |-- TripDistance: double (nullable = true)
 |-- PickupTime: timestamp (nullable = true)
 |-- DropTime: timestamp (nullable = true)
 |-- PickupLocationId: integer (nullable = true)
 |-- DropLocationId: integer (nullable = true)
 |-- TotalAmount: double (nullable = true)
 |-- PaymentType: integer (nullable = false)
 |-- TripYear: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripMonth: integer (nullable = true)
 |-- TripDay: integer (nullable = true)
 |-- TripTimeInMinutes: double (nullable = true)
 |-- NextTripTimeInMinutes: double (nullable = true)
 |-- TripType: string (nullable = false)

### Ausführpläne

In [17]:
yellow_taxi_df.explain(mode="extended")

== Parsed Logical Plan ==
Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, NextTripTimeInMinutes#615, TripType#631]
+- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, NextTripTimeInMinutes#615, CASE WHEN (RatecodeID#420 = cast(6 as double)) THEN SharedTrip ELSE SoloTrip END AS TripType#631]
   +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, round((cast((unix_timestamp(DropTime#518, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(PickupTime#507, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / cast(60 as double)), 0) AS NextTripTimeInMinutes#615]
      +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, round((cast((unix_timestamp(DropTime#518, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(PickupTime#507, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / cast(60 as double)), 0) AS TripTimeInMinutes#600]
         +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, month(cast(PickupTime#507 as date)) AS TripMonth#585, dayofmonth(cast(PickupTime#507 as date)) AS TripDay#586]
            +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, year(cast(PickupTime#507 as date)) AS TripYear#573]
               +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, payment_type#421 AS PaymentType#562]
                  +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, total_amount#335 AS TotalAmount#551, payment_type#421]
                     +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DOLocationID#327 AS DropLocationId#540, RatecodeID#420, total_amount#335, payment_type#421]
                        +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PULocationID#326 AS PickupLocationId#529, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                           +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, tpep_dropoff_datetime#321 AS DropTime#518, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                              +- Project [VendorID#319, PassengerCount#496, TripDistance#484, tpep_pickup_datetime#320 AS PickupTime#507, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                 +- Project [VendorID#319, passenger_count#485 AS PassengerCount#496, TripDistance#484, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                    +- Project [VendorID#319, cast(passenger_count#322 as int) AS passenger_count#485, trip_distance#323 AS TripDistance#484, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                       +- Filter ((tpep_pickup_datetime#320 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#321 < cast(2022-11-01 as timestamp)))
                                          +- Deduplicate [DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331]
                                             +- Project [VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, coalesce(nanvl(RatecodeID#324, cast(null as double)), cast(1 as double)) AS RatecodeID#420, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, coalesce(payment_type#328, cast(5 as int)) AS payment_type#421, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337]
                                                +- Filter atleastnnonnulls(1, VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, RatecodeID#324, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, payment_type#328, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337)
                                                   +- Filter (trip_distance#323 > 0.0)
                                                      +- Filter (passenger_count#322 > cast(0 as double))
                                                         +- Relation [VendorId#319,tpep_pickup_datetime#320,tpep_dropoff_datetime#321,passenger_count#322,trip_distance#323,RatecodeID#324,store_and_fwd_flag#325,PULocationID#326,DOLocationID#327,payment_type#328,fare_amount#329,extra#330,mta_tax#331,tip_amount#332,tolls_amount#333,improvement_surcharge#334,total_amount#335,congestion_surcharge#336,airport_fee#337] csv

== Analyzed Logical Plan ==
VendorID: int, PassengerCount: int, TripDistance: double, PickupTime: timestamp, DropTime: timestamp, PickupLocationId: int, DropLocationId: int, TotalAmount: double, PaymentType: int, TripYear: int, TripMonth: int, TripDay: int, TripTimeInMinutes: double, NextTripTimeInMinutes: double, TripType: string
Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, NextTripTimeInMinutes#615, TripType#631]
+- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, NextTripTimeInMinutes#615, CASE WHEN (RatecodeID#420 = cast(6 as double)) THEN SharedTrip ELSE SoloTrip END AS TripType#631]
   +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, round((cast((unix_timestamp(DropTime#518, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(PickupTime#507, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / cast(60 as double)), 0) AS NextTripTimeInMinutes#615]
      +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, round((cast((unix_timestamp(DropTime#518, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(PickupTime#507, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / cast(60 as double)), 0) AS TripTimeInMinutes#600]
         +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, TripYear#573, month(cast(PickupTime#507 as date)) AS TripMonth#585, dayofmonth(cast(PickupTime#507 as date)) AS TripDay#586]
            +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, PaymentType#562, year(cast(PickupTime#507 as date)) AS TripYear#573]
               +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, TotalAmount#551, payment_type#421 AS PaymentType#562]
                  +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, RatecodeID#420, total_amount#335 AS TotalAmount#551, payment_type#421]
                     +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DOLocationID#327 AS DropLocationId#540, RatecodeID#420, total_amount#335, payment_type#421]
                        +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PULocationID#326 AS PickupLocationId#529, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                           +- Project [VendorID#319, PassengerCount#496, TripDistance#484, PickupTime#507, tpep_dropoff_datetime#321 AS DropTime#518, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                              +- Project [VendorID#319, PassengerCount#496, TripDistance#484, tpep_pickup_datetime#320 AS PickupTime#507, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                 +- Project [VendorID#319, passenger_count#485 AS PassengerCount#496, TripDistance#484, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                    +- Project [VendorID#319, cast(passenger_count#322 as int) AS passenger_count#485, trip_distance#323 AS TripDistance#484, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, PULocationID#326, DOLocationID#327, RatecodeID#420, total_amount#335, payment_type#421]
                                       +- Filter ((tpep_pickup_datetime#320 >= cast(2022-10-01 as timestamp)) AND (tpep_dropoff_datetime#321 < cast(2022-11-01 as timestamp)))
                                          +- Deduplicate [DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331]
                                             +- Project [VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, coalesce(nanvl(RatecodeID#324, cast(null as double)), cast(1 as double)) AS RatecodeID#420, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, coalesce(payment_type#328, cast(5 as int)) AS payment_type#421, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337]
                                                +- Filter atleastnnonnulls(1, VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, RatecodeID#324, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, payment_type#328, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337)
                                                   +- Filter (trip_distance#323 > 0.0)
                                                      +- Filter (passenger_count#322 > cast(0 as double))
                                                         +- Relation [VendorId#319,tpep_pickup_datetime#320,tpep_dropoff_datetime#321,passenger_count#322,trip_distance#323,RatecodeID#324,store_and_fwd_flag#325,PULocationID#326,DOLocationID#327,payment_type#328,fare_amount#329,extra#330,mta_tax#331,tip_amount#332,tolls_amount#333,improvement_surcharge#334,total_amount#335,congestion_surcharge#336,airport_fee#337] csv

== Optimized Logical Plan ==
Aggregate [DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331], [VendorID#319, cast(passenger_count#322 as int) AS PassengerCount#496, trip_distance#323 AS TripDistance#484, tpep_pickup_datetime#320 AS PickupTime#507, tpep_dropoff_datetime#321 AS DropTime#518, PULocationID#326 AS PickupLocationId#529, DOLocationID#327 AS DropLocationId#540, total_amount#335 AS TotalAmount#551, payment_type#421 AS PaymentType#562, year(cast(tpep_pickup_datetime#320 as date)) AS TripYear#573, month(cast(tpep_pickup_datetime#320 as date)) AS TripMonth#585, dayofmonth(cast(tpep_pickup_datetime#320 as date)) AS TripDay#586, round((cast((unix_timestamp(tpep_dropoff_datetime#321, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(tpep_pickup_datetime#320, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / 60.0), 0) AS TripTimeInMinutes#600, round((cast((unix_timestamp(tpep_dropoff_datetime#321, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false) - unix_timestamp(tpep_pickup_datetime#320, yyyy-MM-dd HH:mm:ss, Some(Etc/UTC), false)) as double) / 60.0), 0) AS NextTripTimeInMinutes#615, CASE WHEN (RatecodeID#420 = 6.0) THEN SharedTrip ELSE SoloTrip END AS TripType#631]
+- Project [VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, coalesce(nanvl(RatecodeID#324, null), 1.0) AS RatecodeID#420, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, coalesce(payment_type#328, 5) AS payment_type#421, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337]
   +- Filter ((((isnotnull(passenger_count#322) AND isnotnull(trip_distance#323)) AND isnotnull(tpep_pickup_datetime#320)) AND isnotnull(tpep_dropoff_datetime#321)) AND (((passenger_count#322 > 0.0) AND (trip_distance#323 > 0.0)) AND ((atleastnnonnulls(1, VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, RatecodeID#324, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, payment_type#328, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337) AND (tpep_pickup_datetime#320 >= 2022-10-01 00:00:00)) AND (tpep_dropoff_datetime#321 < 2022-11-01 00:00:00))))
      +- Relation [VendorId#319,tpep_pickup_datetime#320,tpep_dropoff_datetime#321,passenger_count#322,trip_distance#323,RatecodeID#324,store_and_fwd_flag#325,PULocationID#326,DOLocationID#327,payment_type#328,fare_amount#329,extra#330,mta_tax#331,tip_amount#332,tolls_amount#333,improvement_surcharge#334,total_amount#335,congestion_surcharge#336,airport_fee#337] csv

== Physical Plan ==
*(2) HashAggregate(keys=[DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331], functions=[], output=[VendorId#319, PassengerCount#496, TripDistance#484, PickupTime#507, DropTime#518, PickupLocationId#529, DropLocationId#540, TotalAmount#551, PaymentType#562, TripYear#573, TripMonth#585, TripDay#586, TripTimeInMinutes#600, NextTripTimeInMinutes#615, TripType#631])
+- Exchange hashpartitioning(DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331, 200), ENSURE_REQUIREMENTS, [plan_id=211]
   +- *(1) HashAggregate(keys=[DOLocationID#327, knownfloatingpointnormalized(normalizenanandzero(improvement_surcharge#334)) AS improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, knownfloatingpointnormalized(normalizenanandzero(trip_distance#323)) AS trip_distance#323, knownfloatingpointnormalized(normalizenanandzero(tolls_amount#333)) AS tolls_amount#333, knownfloatingpointnormalized(normalizenanandzero(RatecodeID#420)) AS RatecodeID#420, VendorId#319, knownfloatingpointnormalized(normalizenanandzero(tip_amount#332)) AS tip_amount#332, payment_type#421, knownfloatingpointnormalized(normalizenanandzero(fare_amount#329)) AS fare_amount#329, knownfloatingpointnormalized(normalizenanandzero(passenger_count#322)) AS passenger_count#322, store_and_fwd_flag#325, knownfloatingpointnormalized(normalizenanandzero(extra#330)) AS extra#330, knownfloatingpointnormalized(normalizenanandzero(airport_fee#337)) AS airport_fee#337, knownfloatingpointnormalized(normalizenanandzero(congestion_surcharge#336)) AS congestion_surcharge#336, knownfloatingpointnormalized(normalizenanandzero(total_amount#335)) AS total_amount#335, tpep_pickup_datetime#320, knownfloatingpointnormalized(normalizenanandzero(mta_tax#331)) AS mta_tax#331], functions=[], output=[DOLocationID#327, improvement_surcharge#334, tpep_dropoff_datetime#321, PULocationID#326, trip_distance#323, tolls_amount#333, RatecodeID#420, VendorId#319, tip_amount#332, payment_type#421, fare_amount#329, passenger_count#322, store_and_fwd_flag#325, extra#330, airport_fee#337, congestion_surcharge#336, total_amount#335, tpep_pickup_datetime#320, mta_tax#331])
      +- *(1) Project [VendorId#319, tpep_pickup_datetime#320, tpep_dropoff_datetime#321, passenger_count#322, trip_distance#323, coalesce(nanvl(RatecodeID#324, null), 1.0) AS RatecodeID#420, store_and_fwd_flag#325, PULocationID#326, DOLocationID#327, coalesce(payment_type#328, 5) AS payment_type#421, fare_amount#329, extra#330, mta_tax#331, tip_amount#332, tolls_amount#333, improvement_surcharge#334, total_amount#335, congestion_surcharge#336, airport_fee#337]

## Zugriffe auf nested Json Content

In [29]:
import schemata

taxi_bases_df = (
    spark
        .read
        .option("multiline", True)
        .schema(schemata.taxi_bases_schema)
        .json("TaxiBases.json")
)
taxi_bases_df.show(truncate=False)

+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
|License Number|Entity Name                           |Telephone Number|SHL Endorsed|Type of Base               |Address                                                    |GeoLocation                                     |
+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
|B02865        |VIER-NY,LLC                           |6466657536      |No          |BLACK CAR BASE             |{636, WEST   28 STREET, NEW YORK, NY, 10001}               |{40.75273, -74.006408, (40.75273, -74.006408)}  |
|B02634        |VETERANS RADIO DISPATCHER CORP.       |7183647878      |No          |LIVERY BASE                |{131, KINGSBRIDGE ROAD, BRONX, NY, 10468}                  |{40.86927, -73.90281, (40.86927, -73.90281)}    |
|B80094        |ALPHA VAN LINE                        |5162850750      |No          |COMMUTER VAN AUTHORITY BASE|{115-54, 238 STREET, ELMONT, NY, 11003}                    |{40.693473, -73.724446, (40.693473, -73.724446)}|
|B02677        |A.T.B. CAR AND LIMOUSINE SERVICE, INC.|7184854444      |No          |LIVERY BASE                |{866, NEW LOTS AVENUE, BROOKLYN, NY, 11208}                |{40.667838, -73.8788, (40.667838, -73.8788)}    |
|B02152        |KYOEI LIMOUSINE, INC.                 |7183263258      |No          |LUXURY/LIMOUSINE           |{57-48, MASPETH AVENUE, MASPETH, NY, 11378}                |{40.722961, -73.91031, (40.722961, -73.91031)}  |
|B02844        |ENDOR CAR & DRIVER,LLC.               |4154758459      |No          |BLACK CAR BASE             |{31-00, 47 AVENUE  SUITE # 4123A, LIC, NY, 11101}          |{40.742082, -73.93552, (40.742082, -73.93552)}  |
|B02841        |SKYWAY EXECUTIVE SERVICE, INC         |7183595959      |No          |BLACK CAR BASE             |{68-20A, FRESH MEADOW LANE, FRESH MEADOWS, NY, 11365}      |{40.733337, -73.794706, (40.733337, -73.794706)}|
|B00472        |FARRELL'S LEASING CO.                 |2128616300      |No          |LUXURY/LIMOUSINE           |{22-11, 38 AVENUE, LIC, NY, 11101}                         |{40.757077, -73.937504, (40.757077, -73.937504)}|
|B01739        |CITY CAR SERVICE CORP                 |7184182222      |No          |LIVERY BASE                |{429, SUTTER AVENUE, BROOKLYN, NY, 11212}                  |{40.668473, -73.903383, (40.668473, -73.903383)}|
|B00248        |YELLOWSTONE TRANSPORTATION INC.       |7185397777      |No          |LIVERY BASE                |{41-31, MAIN STREET, FLUSHING, NY, 11355}                  |{40.758114, -73.82962, (40.758114, -73.82962)}  |
|B02861        |ELTRI CAR SERVICE INC                 |7183820100      |No          |BLACK CAR BASE             |{1811, EAST    7 STREET, BROOKLYN, NY, 11223}              |{40.612302, -73.963221, (40.612302, -73.963221)}|
|B02093        |V.J. CAR & LIMO SVC INC.              |7186417777      |No          |LIVERY BASE                |{104-08, 123RD STREET, RICHMOND HILL, NY, 11419}           |{40.691906, -73.82342, (40.691906, -73.82342)}  |
|B02980        |ADVANTAGE LIMO OF NY INC              |3478655876      |No          |LUXURY/LIMOUSINE           |{6701, BAY PARKWAY  OFFICE #1 3RD FLR, BROOKLYN, NY, 11204}|{40.603784, -73.972558, (40.603784, -73.972558)}|
|B02878        |ELF-NY,LLC                            |6466657540      |No          |BLACK CAR BASE             |{636, WEST   28 STREET, NEW YORK, NY, 10001}               |{40.75273, -74.00641, (40.75273, -74.00641)}    |
|B90691        |ALTA MEDICAL TRANSPORTATION, INC.     |7188972582      |No          |PARATRANSIT BASE           |{85-02, 67 AVENUE  SUITE 1, REGO PARK, NY, 11374}          |{40.717275, -73.86211, (40.717275, -73.86211)}  |
|B02840        |RAELEEN CAR CORP.                     |9176031815      |No          |BLACK CAR BASE             |{565, VAN NEST AVENUE, BRONX, NY, 10460}                   |{40.755734, -73.93795, (40.755734, -73.93795)}  |
|B02658        |ASCONA CAR SERVICE INC.               |7186461611      |No          |LIVERY BASE                |{2421, BATH AVENUE, BROOKLYN, NY, 11214}                   |{40.595422, -73.992368, (40.595422, -73.992368)}|
|B02331        |CHICO EXPRESS LIMO, INC.              |7182367777      |No          |BLACK CAR BASE             |{6318, 14 AVENUE, BROOKLYN, NY, 11219}                     |{40.625609, -73.998684, (40.625609, -73.998684)}|
|B02969        |LYFE AUTO GROUP INC                   |7187066234      |No          |BLACK CAR BASE             |{32-10, GREENPOINT AVENUE, LIC, NY, 11101}                 |{40.734944, -73.935733, (40.734944, -73.935733)}|
|B02651        |SAROS TRANSPORTATION GROUP INC.       |7185640084      |No          |BLACK CAR BASE             |{626, REXCORP PLAZA, UNIONDALE, NY, 11556}                 |{40.638931, -73.982954, (40.638931, -73.982954)}|
+--------------+--------------------------------------+----------------+------------+---------------------------+-----------------------------------------------------------+------------------------------------------------+
only showing top 20 rows

In [31]:
taxi_bases_flat_df = (
    taxi_bases_df.select(
        col("License Number").alias("BaseLicenseNumber"),
        col("Entity Name").alias("EntityName"),
        col("Address.Building").alias("AddressBuilding"),
        col("Address.Street").alias("AddressStreet"),
        col("Address.City").alias("AddressCity"),
        col("Address.State").alias("AddressState"),
        col("Address.Postcode").alias("AddressPostCode"),

        col("Geolocation.Latitude").alias("GeoLatitude"),
        col("Geolocation.Longitude").alias("GeoLongitude")
    )
)
taxi_bases_flat_df.show(truncate=False)

+-----------------+--------------------------------------+---------------+------------------------------+-------------+------------+---------------+-----------+------------+
|BaseLicenseNumber|EntityName                            |AddressBuilding|AddressStreet                 |AddressCity  |AddressState|AddressPostCode|GeoLatitude|GeoLongitude|
+-----------------+--------------------------------------+---------------+------------------------------+-------------+------------+---------------+-----------+------------+
|B02865           |VIER-NY,LLC                           |636            |WEST   28 STREET              |NEW YORK     |NY          |10001          |40.75273   |-74.006408  |
|B02634           |VETERANS RADIO DISPATCHER CORP.       |131            |KINGSBRIDGE ROAD              |BRONX        |NY          |10468          |40.86927   |-73.90281   |
|B80094           |ALPHA VAN LINE                        |115-54         |238 STREET                    |ELMONT       |NY          |11003          |40.693473  |-73.724446  |
|B02677           |A.T.B. CAR AND LIMOUSINE SERVICE, INC.|866            |NEW LOTS AVENUE               |BROOKLYN     |NY          |11208          |40.667838  |-73.8788    |
|B02152           |KYOEI LIMOUSINE, INC.                 |57-48          |MASPETH AVENUE                |MASPETH      |NY          |11378          |40.722961  |-73.91031   |
|B02844           |ENDOR CAR & DRIVER,LLC.               |31-00          |47 AVENUE  SUITE # 4123A      |LIC          |NY          |11101          |40.742082  |-73.93552   |
|B02841           |SKYWAY EXECUTIVE SERVICE, INC         |68-20A         |FRESH MEADOW LANE             |FRESH MEADOWS|NY          |11365          |40.733337  |-73.794706  |
|B00472           |FARRELL'S LEASING CO.                 |22-11          |38 AVENUE                     |LIC          |NY          |11101          |40.757077  |-73.937504  |
|B01739           |CITY CAR SERVICE CORP                 |429            |SUTTER AVENUE                 |BROOKLYN     |NY          |11212          |40.668473  |-73.903383  |
|B00248           |YELLOWSTONE TRANSPORTATION INC.       |41-31          |MAIN STREET                   |FLUSHING     |NY          |11355          |40.758114  |-73.82962   |
|B02861           |ELTRI CAR SERVICE INC                 |1811           |EAST    7 STREET              |BROOKLYN     |NY          |11223          |40.612302  |-73.963221  |
|B02093           |V.J. CAR & LIMO SVC INC.              |104-08         |123RD STREET                  |RICHMOND HILL|NY          |11419          |40.691906  |-73.82342   |
|B02980           |ADVANTAGE LIMO OF NY INC              |6701           |BAY PARKWAY  OFFICE #1 3RD FLR|BROOKLYN     |NY          |11204          |40.603784  |-73.972558  |
|B02878           |ELF-NY,LLC                            |636            |WEST   28 STREET              |NEW YORK     |NY          |10001          |40.75273   |-74.00641   |
|B90691           |ALTA MEDICAL TRANSPORTATION, INC.     |85-02          |67 AVENUE  SUITE 1            |REGO PARK    |NY          |11374          |40.717275  |-73.86211   |
|B02840           |RAELEEN CAR CORP.                     |565            |VAN NEST AVENUE               |BRONX        |NY          |10460          |40.755734  |-73.93795   |
|B02658           |ASCONA CAR SERVICE INC.               |2421           |BATH AVENUE                   |BROOKLYN     |NY          |11214          |40.595422  |-73.992368  |
|B02331           |CHICO EXPRESS LIMO, INC.              |6318           |14 AVENUE                     |BROOKLYN     |NY          |11219          |40.625609  |-73.998684  |
|B02969           |LYFE AUTO GROUP INC                   |32-10          |GREENPOINT AVENUE             |LIC          |NY          |11101          |40.734944  |-73.935733  |
|B02651           |SAROS TRANSPORTATION GROUP INC.       |626            |REXCORP PLAZA                 |UNIONDALE    |NY          |11556          |40.638931  |-73.982954  |
+-----------------+--------------------------------------+---------------+------------------------------+-------------+------------+---------------+-----------+------------+
only showing top 20 rows

## Aggregationen

In [32]:
yellow_taxi_report_df = (
    yellow_taxi_df
        .groupby("PickupLocationId", "DropLocationId")
        .agg(
            avg("TripTimeInMinutes").alias("AvgTripTime"),
            sum("TotalAmount").alias("SumAmount")
        )
        .orderBy(col("PickupLocationId").desc())
)
yellow_taxi_report_df.show()

+----------------+--------------+------------------+------------------+
|PickupLocationId|DropLocationId|       AvgTripTime|         SumAmount|
+----------------+--------------+------------------+------------------+
|             265|            16|              19.0|             32.76|
|             265|           230|              37.0|            383.34|
|             265|            86|23.666666666666668|              68.8|
|             265|           116|              40.0|             53.16|
|             265|           170|              40.0|350.43999999999994|
|             265|           231|              10.0|              15.3|
|             265|           218|              23.0|              45.0|
|             265|           233|              45.0|             78.85|
|             265|           132|              31.9|            598.71|
|             265|            23|               2.0|              41.6|
|             265|           144|              17.0|              16.8|
|             265|            10|              11.0|             14.55|
|             265|           135|              22.6|             291.0|
|             265|           107|              27.5|            101.59|
|             265|            28|              19.0|              58.0|
|             265|            39|              24.0|              37.3|
|             265|           114|              60.0|             220.8|
|             265|           194|              38.0|             88.08|
|             265|           139|              19.0|              20.0|
|             265|           203|              41.0|             130.8|
+----------------+--------------+------------------+------------------+
only showing top 20 rows

**Aufgaben**


* Neben einer Spalte für Durchschnitt basierend auf Trip-Time noch eine weitere für Max und Min einfügen.
* Basierend auf der Spalte PickupTime füge eine Spalte hinzu mit dem Namen des Monats hinzu.

[Doc zu strftime](https://www.programiz.com/python-programming/datetime/strftime)

[Api Doc PySpark Functions](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html#datetime-functions)