# Umgang mit Pair-RDDs

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("pair-rdd").master("local[4]").getOrCreate()

23/08/21 09:56:52 WARN Utils: Your hostname, pupil-a resolves to a loopback address: 127.0.1.1; using 167.235.141.210 instead (on interface eth0)
23/08/21 09:56:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/21 09:56:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/21 09:56:55 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
spark

In [6]:
sc = spark.sparkContext

In [7]:
numbersRDD = sc.parallelize( [1, 2, 3, 4] )

In [8]:
numbersRDD.collect()

[1, 2, 3, 4]

In [9]:
import math

In [10]:
sqrt_rdd = numbersRDD.map(lambda x: math.sqrt(x))

In [11]:
sqrt_rdd.take(10)

[1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [12]:
numbersWithSquareRoot = numbersRDD.map(
    lambda x : (x, math.sqrt(x)))

In [13]:
numbersWithSquareRoot.collect()

[(1, 1.0), (2, 1.4142135623730951), (3, 1.7320508075688772), (4, 2.0)]

In [15]:
import json

In [16]:
data = json.load(open("population.json", "r"))

In [26]:
type(data[0])

dict

In [14]:
jsonrdd = sc.parallelize(data)

In [15]:
jsonrdd.first()

{'us_state_fips': '78',
 'us_county_fips': '78999',
 'population': '104680',
 'region': 'Virgin Islands',
 'subregion': 'Unknown'}

In [16]:
cleaned_rdd = jsonrdd.map( lambda item: (item['us_county_fips'], int(item['population'])))

In [17]:
cleaned_rdd.first()

('78999', 104680)

In [18]:
cleaned_rdd.take(10)

[('78999', 104680),
 ('72999', 3386941),
 ('66999', 165768),
 ('69999', 56882),
 ('01001', 55200),
 ('01003', 208107),
 ('01005', 25782),
 ('01007', 22527),
 ('01009', 57645),
 ('01011', 10352)]

In [19]:
tmp_rdd = spark.read.json("population.json").rdd

In [20]:
tmp_rdd

MapPartitionsRDD[14] at javaToPython at NativeMethodAccessorImpl.java:0

In [21]:
tmp_rdd.first()

Row(_corrupt_record='[{"us_state_fips":"78","us_county_fips":"78999","population":"104680","region":"Virgin Islands","subregion":"Unknown"},', nyt_population=None, population=None, region=None, subregion=None, us_county_fips=None, us_state_fips=None)

In [22]:
death_rdd = spark.read.text("deaths.csv")

In [23]:
death_rdd.take(2)

[Row(value='country,placename,frequency,start_date,end_date,year,month,week,deaths,expected_deaths,excess_deaths,baseline'),
 Row(value='Austria,,weekly,2020-01-06,2020-01-12,2020,1,2,1702,1806,-104,2015-2019 historical data')]

In [24]:
death_rdd = sc.textFile("deaths.csv").map(lambda x: x.split(","))

In [25]:
death_rdd.take(10)

[['country',
  'placename',
  'frequency',
  'start_date',
  'end_date',
  'year',
  'month',
  'week',
  'deaths',
  'expected_deaths',
  'excess_deaths',
  'baseline'],
 ['Austria',
  '',
  'weekly',
  '2020-01-06',
  '2020-01-12',
  '2020',
  '1',
  '2',
  '1702',
  '1806',
  '-104',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-01-13',
  '2020-01-19',
  '2020',
  '1',
  '3',
  '1797',
  '1819',
  '-22',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-01-20',
  '2020-01-26',
  '2020',
  '1',
  '4',
  '1779',
  '1831',
  '-52',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-01-27',
  '2020-02-02',
  '2020',
  '2',
  '5',
  '1947',
  '1837',
  '110',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-02-03',
  '2020-02-09',
  '2020',
  '2',
  '6',
  '1681',
  '1837',
  '-156',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-02-10',
  '2020-02-16',
  '2020',
  '2',
  '7',
  '1721',
  '1829',
  '-108',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-02-17',
  '2020-02-23',
  '2020',
  '2',
  '8',
  '1718',
  '1812',
  '-94',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-02-24',
  '2020-03-01',
  '2020',
  '3',
  '9',
  '1768',
  '1786',
  '-18',
  '2015-2019 historical data'],
 ['Austria',
  '',
  'weekly',
  '2020-03-02',
  '2020-03-08',
  '2020',
  '3',
  '10',
  '1744',
  '1753',
  '-9',
  '2015-2019 historical data']]

In [27]:
trip_fare_rdd = sc.textFile("trip_fare_4.csv")

In [28]:
trip_fare_rdd.count()

15100469

In [29]:
trip_fare_with_cols = trip_fare_rdd.map(lambda x: x.split(","))

In [30]:
trip_fare_with_cols.take(2)

[['medallion',
  ' hack_license',
  ' vendor_id',
  ' pickup_datetime',
  ' payment_type',
  ' fare_amount',
  ' surcharge',
  ' mta_tax',
  ' tip_amount',
  ' tolls_amount',
  ' total_amount'],
 ['2013002818',
  '2013002815',
  'VTS',
  '2013-04-01 00:00:00',
  'CSH',
  '5.5',
  '0.5',
  '0.5',
  '0',
  '0',
  '6.5']]

In [31]:
trip_fare_rdd.count()

15100469

In [35]:
trip_fare_with_cols.count()

15100469

In [52]:
trip_fare_with_cols.take(2)

[['medallion',
  ' hack_license',
  ' vendor_id',
  ' pickup_datetime',
  ' payment_type',
  ' fare_amount',
  ' surcharge',
  ' mta_tax',
  ' tip_amount',
  ' tolls_amount',
  ' total_amount'],
 ['2013002818',
  '2013002815',
  'VTS',
  '2013-04-01 00:00:00',
  'CSH',
  '5.5',
  '0.5',
  '0.5',
  '0',
  '0',
  '6.5']]

In [53]:
trips_without_header_rdd = trip_fare_with_cols.filter(lambda row: row[0].isnumeric())

In [54]:
trips_without_header_rdd.count()

15100468

In [55]:
trips_without_header_rdd.take(2)

[['2013002818',
  '2013002815',
  'VTS',
  '2013-04-01 00:00:00',
  'CSH',
  '5.5',
  '0.5',
  '0.5',
  '0',
  '0',
  '6.5'],
 ['2013006871',
  '2013028622',
  'VTS',
  '2013-04-01 00:00:00',
  'CRD',
  '22',
  '0.5',
  '0.5',
  '3',
  '5.33',
  '31.33']]

In [62]:
tmp_rdd = trips_without_header_rdd.map(lambda x: (x[0], float(x[5])))

In [63]:
tmp_rdd.take(10)

[('2013002818', 5.5),
 ('2013006871', 22.0),
 ('2013007102', 5.5),
 ('2013009722', 14.5),
 ('2013002122', 51.5),
 ('2013005247', 14.5),
 ('2013010245', 7.5),
 ('2013010744', 13.5),
 ('2013006175', 19.5),
 ('2013000234', 19.5)]

In [64]:
revenu_per_car = tmp_rdd.reduceByKey(lambda v1, v2: v1 + v2)

In [65]:
revenu_per_car.take(10)

[('2013007102', 14632.0),
 ('2013010223', 16206.5),
 ('2013013307', 13586.0),
 ('2013000331', 15753.0),
 ('2013000488', 16400.0),
 ('2013000646', 17749.5),
 ('2013009317', 13374.0),
 ('2013010444', 18033.0),
 ('2013002601', 15033.0),
 ('2013012229', 17358.5)]

In [68]:
revenu_per_car.count()

13464

In [69]:
trip_fare_rdd.count()

15100469

In [71]:
sorted_rdd = tmp_rdd.sortByKey()

In [72]:
sorted_rdd.take(50)

[('2013000001', 32.5),
 ('2013000001', 12.5),
 ('2013000001', 7.0),
 ('2013000001', 10.0),
 ('2013000001', 7.5),
 ('2013000001', 16.0),
 ('2013000001', 6.0),
 ('2013000001', 6.5),
 ('2013000001', 4.0),
 ('2013000001', 5.5),
 ('2013000001', 9.0),
 ('2013000001', 13.0),
 ('2013000001', 6.5),
 ('2013000001', 52.0),
 ('2013000001', 54.0),
 ('2013000001', 6.5),
 ('2013000001', 12.0),
 ('2013000001', 8.0),
 ('2013000001', 6.5),
 ('2013000001', 4.0),
 ('2013000001', 7.5),
 ('2013000001', 5.0),
 ('2013000001', 7.0),
 ('2013000001', 15.0),
 ('2013000001', 8.0),
 ('2013000001', 28.0),
 ('2013000001', 6.5),
 ('2013000001', 11.5),
 ('2013000001', 8.5),
 ('2013000001', 5.0),
 ('2013000001', 9.5),
 ('2013000001', 5.0),
 ('2013000001', 40.5),
 ('2013000001', 16.0),
 ('2013000001', 13.0),
 ('2013000001', 11.5),
 ('2013000001', 11.0),
 ('2013000001', 6.5),
 ('2013000001', 7.5),
 ('2013000001', 13.0),
 ('2013000001', 24.5),
 ('2013000001', 26.0),
 ('2013000001', 9.5),
 ('2013000001', 6.5),
 ('2013000001', 10.5),
 ('2013000001', 11.0),
 ('2013000001', 4.5),
 ('2013000001', 9.0),
 ('2013000001', 9.0),
 ('2013000001', 5.0)]

In [19]:
taxi_zones_rdd = sc.textFile('TaxiZones.csv')

In [20]:
taxi_zones_with_col = taxi_zones_rdd.map(lambda x: x.split(","))

In [21]:
taxi_zones_with_col_from_queens = taxi_zones_with_col.filter(lambda x: x[1]=='Queens')

In [22]:
taxi_zones_with_col_from_queens.take(30)

[['2', 'Queens', 'Jamaica Bay', 'Boro Zone'],
 ['7', 'Queens', 'Astoria', 'Boro Zone'],
 ['8', 'Queens', 'Astoria Park', 'Boro Zone'],
 ['9', 'Queens', 'Auburndale', 'Boro Zone'],
 ['10', 'Queens', 'Baisley Park', 'Boro Zone'],
 ['15', 'Queens', 'Bay Terrace/Fort Totten', 'Boro Zone'],
 ['16', 'Queens', 'Bayside', 'Boro Zone'],
 ['19', 'Queens', 'Bellerose', 'Boro Zone'],
 ['27', 'Queens', 'Breezy Point/Fort Tilden/Riis Beach', 'Boro Zone'],
 ['28', 'Queens', 'Briarwood/Jamaica Hills', 'Boro Zone'],
 ['30', 'Queens', 'Broad Channel', 'Boro Zone'],
 ['38', 'Queens', 'Cambria Heights', 'Boro Zone'],
 ['53', 'Queens', 'College Point', 'Boro Zone'],
 ['56', 'Queens', 'Corona', 'Boro Zone'],
 ['57', 'Queens', 'Corona', 'Boro Zone'],
 ['64', 'Queens', 'Douglaston', 'Boro Zone'],
 ['70', 'Queens', 'East Elmhurst', 'Boro Zone'],
 ['73', 'Queens', 'East Flushing', 'Boro Zone'],
 ['82', 'Queens', 'Elmhurst', 'Boro Zone'],
 ['83', 'Queens', 'Elmhurst/Maspeth', 'Boro Zone'],
 ['86', 'Queens', 'Far Rockaway', 'Boro Zone'],
 ['92', 'Queens', 'Flushing', 'Boro Zone'],
 ['93', 'Queens', 'Flushing Meadows-Corona Park', 'Boro Zone'],
 ['95', 'Queens', 'Forest Hills', 'Boro Zone'],
 ['96', 'Queens', 'Forest Park/Highland Park', 'Boro Zone'],
 ['98', 'Queens', 'Fresh Meadows', 'Boro Zone'],
 ['101', 'Queens', 'Glen Oaks', 'Boro Zone'],
 ['102', 'Queens', 'Glendale', 'Boro Zone'],
 ['117', 'Queens', 'Hammels/Arverne', 'Boro Zone'],
 ['121', 'Queens', 'Hillcrest/Pomonok', 'Boro Zone']]

In [23]:
taxi_zones_with_col_from_queens.first()

['2', 'Queens', 'Jamaica Bay', 'Boro Zone']

In [24]:
taxizone_rdd = sc.textFile('TaxiZones.csv')

In [26]:
taxizone_with_cols_rdd = taxi_zones_rdd.map(lambda x: x.split(","))

In [27]:
taxi_zones_with_col.take(2)

[['1', 'EWR', 'Newark Airport', 'EWR'],
 ['2', 'Queens', 'Jamaica Bay', 'Boro Zone']]

In [28]:
taxizone_borough_pair_rdd = taxi_zones_with_col.map(lambda zone_row: (zone_row[1],1))

In [30]:
taxizone_borough_pair_rdd.take(20)

[('EWR', 1),
 ('Queens', 1),
 ('Bronx', 1),
 ('Manhattan', 1),
 ('Staten Island', 1),
 ('Staten Island', 1),
 ('Queens', 1),
 ('Queens', 1),
 ('Queens', 1),
 ('Queens', 1),
 ('Brooklyn', 1),
 ('Manhattan', 1),
 ('Manhattan', 1),
 ('Brooklyn', 1),
 ('Queens', 1),
 ('Queens', 1),
 ('Brooklyn', 1),
 ('Bronx', 1),
 ('Queens', 1),
 ('Bronx', 1)]

In [31]:
borough_count_rdd = taxizone_borough_pair_rdd.reduceByKey(lambda v1, v2: v1 + v2)

In [32]:
borough_count_rdd.collect()

[('EWR', 1),
 ('Manhattan', 69),
 ('Brooklyn', 61),
 ('Unknown', 2),
 ('Queens', 69),
 ('Bronx', 43),
 ('Staten Island', 20)]

In [119]:
borough_count_rdd.filter(lambda x:  isinstance(x[1], int)).collect()

[]

In [110]:
 filtered_zones_rdd =  borough_count_rdd.filter(lambda x: int(x[1]) > 10)

In [111]:
filtered_zones_rdd.collect()

[('Manhattan', 69),
 ('Brooklyn', 61),
 ('Queens', 69),
 ('Bronx', 43),
 ('Staten Island', 20)]